:root {
  /* 主色 */
  --b3-theme-primary: #cc7832;
  --b3-theme-primary-light: #cc78328c;
  --b3-theme-primary-lighter: #cc783259;
  --b3-theme-primary-lightest: #cc783219;
  --b3-theme-secondary: #f3a92f;
  /*编辑器主体颜色包括设置菜单等,建议设置为一个不透明的颜色,然后调整其他元素*/
  --b3-theme-background: #2b2b2b;
  /*众多组件的颜色*/
  --b3-theme-surface: #2b2b2bee;
  --b3-theme-surface-light: rgba(41, 42, 45, 0.86);
  --b3-theme-error: #d23f31;

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #c9d1d9;
  --b3-theme-on-surface: #9aa0a6;
  --b3-theme-on-error: #fff;

  /* 字体 */
  --b3-font-family: "quote", "Helvetica Neue", "Luxi Sans", "DejaVu Sans",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier,
    monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  --b3-font-family-graph: mononoki;

  /* 线条 */
  --b3-border-color: rgba(230, 230, 230, 0.1);

  /* 滚动条 */
  --b3-scroll-color: rgba(230, 230, 230, 0.2);

  /* 列表 */
  --b3-list-hover: rgba(230, 230, 230, 0.05);

  /* 页签 */
  --b3-tab-background: #292a2d;
  --b3-tab-background-hover: #2e2f31;

  /* 提示 */
  --b3-tooltips-color: rgba(70, 72, 76, 0.86);

  /* 卡片背景 */
  --b3-card-error-color: rgb(250, 179, 174);
  --b3-card-error-background: rgb(24, 6, 5);
  --b3-card-warning-color: rgb(255, 213, 153);
  --b3-card-warning-background: rgb(25, 15, 0);
  --b3-card-info-color: rgb(166, 213, 250);
  --b3-card-info-background: rgb(3, 14, 24);
  --b3-card-success-color: rgb(183, 223, 185);
  --b3-card-success-background: rgb(7, 17, 7);

  /* 自定义文字 */
  --b3-font-color1: var(--b3-card-error-color);
  --b3-font-color2: var(--b3-card-warning-color);
  --b3-font-color3: var(--b3-card-info-color);
  --b3-font-color4: var(--b3-card-success-color);
  --b3-font-color5: var(--b3-theme-on-surface);
  --b3-font-color6: var(--b3-theme-primary);
  --b3-font-color7: var(--b3-theme-secondary);
  --b3-font-color8: var(--b3-theme-error);
  --b3-font-color9: #f5539e;
  --b3-font-color10: #944194;
  --b3-font-color11: #65b84d;
  --b3-font-color12: #f5822e;
  --b3-font-color13: var(--b3-theme-background);
  --b3-font-background1: var(--b3-card-error-background);
  --b3-font-background2: var(--b3-card-warning-background);
  --b3-font-background3: var(--b3-card-info-background);
  --b3-font-background4: var(--b3-card-success-background);
  --b3-font-background5: var(--b3-theme-surface);
  --b3-font-background6: var(--b3-theme-primary-light);
  --b3-font-background7: rgba(217, 211, 215, 0.5);
  --b3-font-background8: rgba(255, 193, 153, 0.5);
  --b3-font-background9: rgba(189, 201, 255, 0.5);
  --b3-font-background10: rgba(239, 218, 251, 0.5);
  --b3-font-background11: rgba(234, 202, 220, 0.5);
  --b3-font-background12: rgba(253, 198, 200, 0.5);
  --b3-font-background13: var(--b3-theme-on-background);

  /* 动画效果 */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-width-transition: width 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

  /* 阴影 */
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.4);

  /* diff */
  --b3-diff-add: #133a1c;
  --b3-diff-add-surface: #28853e;
  --b3-diff-del: #440c10;
  --b3-diff-del-surface: #b1202d;

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #9876aa;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #e8eaed;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #9aa0a6;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* 编辑器搜索颜色 */
  --b3-protyle-search-background: #32593c;
  --b3-protyle-search-border-color: #486a51;
  --b3-protyle-search-current-background: #204282;

  /* 代码片段背景 */
  --b3-protyle-code-background: rgba(240, 246, 252, 0.15);

  /* 所见即所得行内元素颜色 */
  --b3-protyle-inline-strong-color: #e8eaed;
  --b3-protyle-inline-em-color: #e8eaed;
  --b3-protyle-inline-s-color: #e8eaed;
  --b3-protyle-inline-link-color: #8ab4f8;
  --b3-protyle-inline-mark-background: #32593c;
  --b3-protyle-inline-mark-color: #e8eaed;
  --b3-protyle-inline-tag-color: #9aa0a6;
  --b3-protyle-inline-blockref-color: #9876aa;


      /* PDF */
      --b3-pdf-selection: #779170;
      --b3-pdf-sidebar-width: 200px;
      --b3-pdf-offset: 0;
      --b3-pdf-background1: #812008;
      --b3-pdf-background2: #813808;
      --b3-pdf-background3: #0d3b80;
      --b3-pdf-background4: #779170;
      --b3-pdf-background5: #8B864E;
      --b3-pdf-background6: #681933;
      --b3-pdf-background7: #481761;





  /*0层透明度*/
  --transparent: #2b2b2baa;
  --custom-transparent: #2b2b2bcc;
  /*1层透明度*/
  --custom-transparent-deep: #1b1b1bdd;
  /*2层透明度*/
  --custom-transparent-deeper: #1f1f1fdd;
  /*不透明的组件*/
  --cliff-main-background-color: #2b2b2b;
  --cliff-main-background-color-deeper: #1f1f1f;


  /*二级文字颜色*/
  --custom-font-lighter: #c9d1d98c;




  /*element color*/
  --cliff-main-color:#2b2b2b;
  --cliff-main-color-transparent:#2b2b2bee;
  --cliff-main-color-transparent-light: #2b2b2baa;
  --cliff-main-clolr-deep:#1f1f1f;

  --cliff-bright-color:#f3a92f;

  --cliff-blur:blur(15px);
  --cliff-max-width: 1100px;

  --cliff-side-bar-hover:var(--morandi-air-green);

  --cliff-font:#F2F1E8;
  --cliff-font-strong:#BD387D;
  --cliff-font-em:#C88F0D;

  --cliff-head:#008EC6;
  --cliff-prompt:var(--morandi-sky);

  --cliff-link:var(--morandi-sea-emerald);
  --cliff-link-active:var(--morandi-statement-blue);
  --cliff-pdf-file:var(--morandi-hope);
  --cliff-pdf-file-active:var(--morandi-dusty-green);

  --cliff-code-block:#283532;
  --cliff-code-block-content:#283532;
  --cliff-quote-block:#333739;
  --cliff-quote-content:#008EC6;
  --cliff-anki-card:var(--morandi-clover-land);
  --cliff-anki-card-front:var(--morandi-clover-land);

  --cliff-delete-line:var(--morandi-shade);
  --cliff-tag:var(--morandi-caravan);
  --cliff-tag-background:#3F3D2E;




}

/************************LAYOUT************************/
/*Pictures And front*/
body{
  color: var(--cliff-font);
  background-image: url(cliff_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
/*backgoound color of selected icon bar*/
.block__icons--active{
  background-color: none!important;
}
/*TopBar*/
#toolbar.toolbar.fn__flex{
  background-color: #00000000;
}
.toolbar #drag{
   display: none;
}
/*LeftBar*/
#dockLeft {
  display: none;
  background-color: var(--cliff-main-color) !important;
}
.block__icons--active {
  background-color: none;
}
/*RigtBar*/
#dockRight {
  display: none;
  background-color: var(--cliff-main-color) !important;
}
.graph {
  background: #00000000 !important;
}
.graph.fullscreen {
  background-color: var(--cliff-main-color);
}
.graph__panel {
  z-index: 2;
}
.fn__flex-1.graph.file-tree.sy__graph.fullscreen{
  background-image: url(cliff_bg.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.fn__flex-1.graph.file-tree.sy__graph.fullscreen::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background: #2b2b2bdd;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: var(--cliff-blur) !important;
}
/*Background of File Tree and Edit Area*/
.fn__flex-1.fn__flex [data-type="wnd"] {
  min-height: 90% !important;
  position: relative;
  margin: 8px;
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 6px;
}
.fn__flex-1.fn__flex [data-type="wnd"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background: #2b2b2bdd;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: var(--cliff-blur) !important;
}
/*Edit area*/
.layout-tab-container {
  background-color: #00000000 !important;
}
/*File name in edit area*/
.protyle-title__input {
  background: #00000000 !important;
}
/*file content in Edit area*/
.protyle {
  background: #00000000 !important;
}

/*space between fileTree and editSpace*/
.layout__center .fn__flex [data-type="wnd"] {
  max-width: var(--cliff-max-width);
  margin: 0 auto;
}
.b3-typography p,
.b3-typography [data-node-id],
.protyle-wysiwyg p,
.protyle-wysiwyg [data-node-id] {
  margin-left: 20px;
  margin-right: 20px;
}
.layout__resize--lr.layout__resize{
  padding-left: 20px;
  padding-right: 20px;
}
.layout__resize--lr.layout__resize::after{
  margin-left: 20px;
  margin-right: 20px;
}

/*Padding between the top bar and side bar*/
.fn__flex-1 {
  z-index: 1;
}
#layouts > .fn__flex-1 {
  padding: 8px; 
  padding-bottom: 20px;
}
.layout-tab-container .fn__flex-column .fn__flex-1 {
  padding: 8px;
}
.layout__center {
  padding: 0 4px;
}
.layout__center > .fn__flex {
  padding: 8px 4px !important;
}

/*full-screen-mode*/
.fn__flex-1.protyle.fullscreen {
  background-image: url(cliff_bg.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.fn__flex-1.protyle.fullscreen .protyle-content {
  backdrop-filter: blur(2px);
  background-color: var(--custom-transparent) !important;
}
.fn__flex-1.protyle.fullscreen .protyle-content .protyle-background {
  margin: 0px;
  min-height: 30vh;
}

/*noteTags*/
.fn__flex-column.fn__flex.fn__flex-1 .layout-tab-bar {
  background-color: #00000000 !important;
  opacity: 1;
}
.layout-tab-bar .item {
  border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgba(230, 230, 230, 0.133)!important;
  opacity: 0.6;
}
/*selected noteTag*/
.layout-tab-bar .item--focus {
  background-color: #00000000 !important;
}
/*breadcrumb*/
.protyle-breadcrumb {
  background-color: #00000000 !important;
  border-bottom: 1px solid rgba(230, 230, 230, 0.05);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}




/*ref block card*/
.block__popover {
  background-color: #00000000;
}
.block__popover.block__popover--move.block__popover--open {
  /* min-height: 90% !important; */
  margin: 0px auto;
  margin: 8px;
  /* overflow: hidden; fucks up hitbox for resizing corners */
  z-index: 2;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
}
.block__popover.block__popover--move.block__popover--open::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background: #2b2b2baa;
  border-radius: 6px;
  backdrop-filter: blur(20px) !important;
}
.block__icons.block__icons--border {
  background-color: var(--cliff-main-background-color);
}

/*CommonMenu*/
#commonMenu.b3-menu {
  background-color: #00000000 !important;
}
#commonMenu.b3-menu::before{
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background: #2b2b2baa;
  border-radius: 6px;
  backdrop-filter: blur(20px) !important;
}
#commonMenu.b3-menu .b3-menu__item{
  background-color: var(--cliff-main-color-transparent-light)!important;
}
#commonMenu.b3-menu .b3-menu__item:hover{
  background-color: var(--b3-list-hover)!important;
}
#commonMenu.b3-menu .b3-menu__separator{
  margin:1px;
}
.protyle-background {
  margin: 20px 0px;
}
/*set Menu*/
.b3-dialog__container {
  z-index: 2;
  background-image: url(cliff_bg.jpg);
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.b3-dialog__container::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background: var(--cliff-main-color-transparent);
  backdrop-filter: var(--cliff-blur) !important;
  border-radius: 6px;
}
.b3-form__icon.search__header{
  background-color: #00000000!important;
}
.b3-text-filed.b3-text-filed--text.fn__block.b3-form__icon-input{
  background-color: var(--cliff-main-color-transparent)!important;
}
.b3-dialog__container .b3-tab-container{
  background-color: #00000000!important;
}
#configBazaarReadme.config-bazaar__readme{
  z-index: 3;
}


/************************组件*************************/

/*quote*/
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg blockquote,
.protyle-wysiwyg .bq {
  background-color: var(--transparent) !important;
  border-left: 0.25em solid var(--cliff-bright);
}

/*fileTreeFront*/
.file-tree [data-type="navigation-folder"] .b3-list-item__text {
  color: var(--cliff-bright);
}

/*codeBlock*/
.b3-typography .hljs,
.protyle-wysiwyg .hljs {
  background-color: #00000000 !important;
  border-radius: 6px;
}
.protyle-linenumber__rows {
  margin-top: 31px !important;
  background-color: #00000000 !important;
}
.code-block {
  position: relative;
  display: block;
  border-radius: 4px;
  background-color: var(--custom-transparent) !important;
  margin-top: 15px !important;
  padding-top: 32px !important;
  /* font-size: 14px; */
  /* font-size:10px; */
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
}
.code-block:before {
  content: " ";
  position: absolute;
  background: #fa625c;
  box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
  border-radius: 50%;
  /* margin-top: 10px; */
  top: 10px;
  left: 15px;
  height: 12px;
  width: 12px;
  z-index: 1;
}

/*embed block*/
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
  background-color: var(--custom-transparent) !important;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

/*task list*/
.protyle-action.protyle-action--task svg {
  color: var(--b3-theme-primary);
}
.li.protyle-task--done .protyle-action.protyle-action--task svg {
  color: var(--b3-theme-primary-light);
}
.li.protyle-task--done [data-node-id] {
  color: var(--custom-font-lighter);
}

/*list*/
[data-type="NodeList"] [data-type="NodeListItem"] svg {
  color: var(--b3-theme-primary);
}

/*blok ref link*/
.protyle-wysiwyg [data-node-id] span[data-anchor] {
  color: #f3a92fcc;
  border-bottom: thin dashed #f3a92fcc;
}
/*web link*/
.protyle-wysiwyg [data-node-id] span[data-type="a"] {
  color: #f3a92fcc;
  border-bottom: thin solid #f3a92fcc;
}

/*tags*/
.protyle-wysiwyg [data-node-id] span[data-type="tag"] {
  color: #fff;
  background-color: #e9967aaa;
  border-radius: 8px;
  border: none;
  padding: 2px;
}
.b3-typography code:not(.hljs),
.protyle-wysiwyg code:not(.hljs) {
  background-color: var(--b3-theme-primary-lighter);
}

div[data-type="NodeSuperBlock"] > [data-node-id] {
  margin-left: 0;
}
